:root {
    --blue: hsl(238, 40%, 52%);
    --red:  hsl(358, 79%, 66%);
    --gray: hsl(223, 19%, 93%);
    --red-pale: hsl(357, 100%, 86%);
    --blue-dark: hsl(212, 24%, 26%);
    --blue-gray: hsl(211, 10%, 45%);
    --blue-light: hsl(239, 57%, 85%);
    --gray-light: hsl(228, 33%, 97%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.4;
    font-size: 62.5%;
    font-family: sans-serif;
    user-select: none;
    background-color: var(--gray-light);
    /*background-color: cyan;*/
}

main.main__cntnr {
    margin: 2rem auto 22rem auto;
    filter: blur(0px);
}

.elmnt--flx, .cntnr--flx {
    display: flex;
    align-items: center;
}

.flx--clmn {
    flex-direction: column;
}

.flx--clmn-gp-1 {
    column-gap: 1.5rem;
}

.flx--jstf-btwn {
    justify-content: space-between;
}

.flx--rw-gp-2 {
    row-gap: 2rem;
}

.flx--wrap {
    flex-wrap: wrap;
}

.flx-1 {
    flex: 1;
}

.elmnt--wdth, .cntnr--wdth {
    width: min(90%, 70rem);
    margin: 0 auto;
}

.elmnt--wdth-100, .cntnr--wdth-100 {
    width: 100%;
}

.artcl__user, .footer__cntnr, .artcl__reply {
    padding: 2.4rem 2rem;   
    font-weight: 500;
    position: relative;
    border-radius: 1rem;
    background-color: white;
}

.sctn__replies {
    padding-left: 5%;
    border-left: 1px solid var(--blue-light);
}

.reply--okay {
    margin-left: auto;
}

.artcl__user > figure {
    overflow: hidden;
    white-space: nowrap;
}

main.main--filter-1 {
    filter: blur(1px);
}
.fnt--mdm {
    font-size: 1.6rem;
}

.user__img {
    width: 3.2rem;
}

.clr--gry {
    color: var(--blue-gray);
}

.clr--prpl {
    color: var(--blue);
}

.clr--dark {
    color: var(--blue-dark);
}

.fnt--400 {
    font-weight: 400;
}

.fnt--700 {
    font-weight: 700;
}

.user__plus {
    padding: 0.8rem 1.4rem;
    background-color: var(--gray-light);
}

.user__plus + figure figcaption {
    margin-left: 1rem;
}

.plus, .minus {
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.6rem;
    object-fit: contain;
}

.clr--red {
    color: var(--red);
}

.user__me {
    padding: 0.1rem 0.8rem;
    border-radius: 0.2rem;
}

.clr--wht {
    color: white;
}

.sctn__delete {
    width: min(90%, 35rem);
    padding: 2.4rem 2.8rem;
    display: none;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 3rem 0.1rem rgb(42, 41, 41);
    background-color: white;
}

.elmnt--none, .cntnr--none {
    display: none;
}

.elmnt--blck, .cntnr--blck {
    display: block;
}

.elmnt--rds, .cntnr--rds {
    border-radius: 0.6rem;
}

.bttn {
    flex: 1;
    height: 3.6rem;
    text-transform: uppercase;
    border: transparent;
}

.delete__prgrph {
    margin: 1.4rem 0;
}

.footer__cntnr {
    position: fixed;
    bottom: 1rem;
    left: 5%;
}

.footer__send, .reply__send {
    margin-top: 1rem;
}

.footer__text, .reply__text {
    height: 8rem;
    resize: none;
    outline: 0;
    color: var(--blue-gray);
    padding: 1rem 1.4rem;
    /*border: 1px solid var(--gray);*/
    border: 1px solid;
}

.footer__text:focus, .elmnt--brd {
    outline: 0;
    border: 1px solid var(--blue-dark);
}

.footer__bttn, .reply__bttn, .edit__bttn, .edit--cancel {
    width: 8rem;
    height: 3.6rem;
    border: transparent;
    border-radius: 0.4rem;
    background-color: var(--blue);
}

.delete__bttn, .bckgrnd--red {
    background-color: var(--red);
}

.cancel__bttn {
    background-color: var(--blue-gray);
}

.elmnt--pddng {
    padding: 0.6rem;
}

.bckgrnd--blue {
    background-color: var(--blue);
}

@media (any-hover : hover) {
    .elmnt--opacity:hover, .delete:hover, .edit:hover, .footer__bttn:hover, .bttn:hover, .edit__bttn:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    .plus:hover, .minus:hover {
        cursor: pointer;
    }

    .pointer:hover {
        opacity: 1;
        cursor: unset;
    }
}